<%- include('../layout') %>
<h1>Editar Género</h1>
<form action="/genres/<%= genre.id %>" method="POST">
    <div class="form-group">
        <label for="name">Nombre del Género</label>
        <input type="text" class="form-control" id="name" name="name" value="<%= genre.name %>" required>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a href="/genres" class="btn btn-secondary">Volver</a>
</form>