<%- include('../layout') %>
<h1>Géneros</h1>
<a href="/genres/new" class="btn btn-primary mb-3">Crear Género</a>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <% genres.forEach(genre => { %>
            <tr>
                <td><%= genre.name %></td>
                <td>
                    <a href="/genres/<%= genre.id %>/edit" class="btn btn-warning">Editar</a>
                    <form action="/genres/<%= genre.id %>/delete" method="POST" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>


